<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Flash Video File</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.flash.video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>flv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>XSPF Playlist file</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.playlist</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.xspf.playlist</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>xspf</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>VLCMediaDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.avi</string>
				<string>public.playlist</string>
				<string>org.xspf.playlist</string>
				<string>public.m3u-playlist</string>
			</array>
			<key>NSDocumentClass</key>
			<string>VLCMediaDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>CFBundleIdentifier</key>
	<string>org.videolan.Lunettes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Lunettes</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009 VideoLAN</string>
	<key>NSPrincipalClass</key>
	<string>VLCApplication</string>
	<key>SUFeedURL</key>
	<string>http://jones.videolan.org/~videolan/fpk/sparkle/lunettes.xml</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
</dict>
</plist>
