* {
    cursor: default;
    -webkit-user-select: none;
}

body {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0;
}

/*
 * The window
 */

#main-window {
    position: absolute;
    background: transparent;
    overflow: hidden;

    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

/*
 * Window decoration
 */

.titlebar {
    -webkit-user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    border-bottom: thin #434343 solid;
    border-top: 1px rgba(255, 255, 255, 0.8) solid;
    padding-left: 4px;
    background: rgba(255, 255, 255, 0.4);
}

.window-decoration {
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
}

.window-decoration button {
    cursor: default;
    background-color: transparent;
    border: none;

    height: 15px; width: 14px;
    padding: 0px;
    margin: 0;
    margin-top: 3px;
    margin-right: 4px;
}

#content .window-buttons>button {
    background-repeat: no-repeat;
    background-image: url(window-buttons-off.png);
}

.close:active {
    background: url(window-close-on.png) no-repeat 0 0 !important;
}

.miniaturize:active {
    background: url(window-minimize-on.png) no-repeat 0 0 !important;
}

.zoom:active {
    background: url(window-zoom-on.png) no-repeat 0 0 !important;
}

.window-buttons:hover>button {
    background-image: url(window-buttons-over.png) !important;
}

#content.key-window .window-buttons>button {
    background-image: url(window-buttons.png);
}



.close {
    background-position-x: 0px;
}
.miniaturize {
    background-position-x: -21px;
}
.zoom {
    background-position-x: -42px;
}


#content:hover .titlebar,
#content:hover .window-decoration button,
#content:hover .controls
 {
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-in;
}


.titlebar,
.window-decoration button,
.controls
 {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
}


.window-decoration button:active {
    -webkit-background-position: 1px 1px;
    background-color: rgba(255,255,255,0.4);
    color: rgba(0,0,0,0.9);
}

.zoom {
    font-size: 10px;
    vertical-align: centerline;
}

.key-window .title {
    text-shadow: 0px 0px 10px #111;
}

#content .title {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
}

#content:hover .title {
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-in;
}

.title {
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    padding-top: 1px;
    top: 0px;
    left: 80px;
    right: 80px;
    vertical-align: centerline;
    text-align: center;
    font-family: LucidaGrande;
    font-size: 13px;
}

.resize {
    position: absolute;
    height: 32px;
    width: 32px;
    display: block;
    bottom: 0px;
    right: 0px;
}

/*
 * Video view
 */

#video .view {
    position: absolute;
    background: transparent;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

/*
 * Controls
 */

.controls {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-left: 5px;
    padding-right: 10px;
    border-top: thin rgba(255,255,255, 0.2) solid;
    box-sizing: border-box;
    height: 31px;

    background-color: rgba(255,255,255,0.4);
}

#content .controls>:nth-child(n)  {
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in-out;
}

#content:hover .controls>:nth-child(n)  {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.controls button {
    background-color: transparent;
    border: none;
    height: 16px;
    width: 16px;
}

.controls>button {
    display: -webkit-box;
    margin-left: 6px;
    margin-right: 6px;
}

.toggle-playing {
    background: url(fs_play.png)  no-repeat;
    -webkit-background-size: 100%;
}

.play:active {
    background: url(fs_play_highlight.png)  no-repeat;
}

.fullscreen {
    background: url(fs_exit_fullscreen.png) no-repeat;
    -webkit-background-size: 100%;
}

.fullscreen:active {
    background: url(fs_exit_fullscreen_highlight.png)  no-repeat;
}

/*
 * Time display
 */

.timeinfo {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    height: 14px;
    margin-left: 10px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#333));
    -webkit-border-radius: 4px;
    border: thin solid #999999;
}

.timeinfo>:nth-child(n) {
    display: -webkit-box;
    margin-left: 5px;
    margin-right: 5px;
}

.timeline {
    -webkit-appearance: none;
    -webkit-box-flex: 1;
    height: 2px;

    background-color: #6896ff;
    -webkit-border-radius: 4px;

    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 2px;
    padding: 0;
    padding-bottom: 2px;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    border: 3px solid #999999;
    -webkit-border-radius: 8px;
    width: 8px;
    height: 8px;
}

.ellapsed-time {
    color: white;
    font-family: LucidaGrande;
    font-size: 10px;
}

