* {
    cursor: default;
    -webkit-user-select: none;
}

body {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0;
    overflow: hidden;
}

input[type=search] {
    -webkit-user-select: text;
    cursor: auto;
    margin: auto;
    padding: auto;
}

/* Make sure all (non visible) images are loaded to avoid flickering. */
.preloader {
    position: fixed;
    z-index: -1;
    background-image: url(window-close-on.png);
    background-image: url(window-buttons-over.png);
    background-image: url(window-buttons-off.png);
    background-image: url(window-minimize-on.png);
    background-image: url(window-zoom-on.png);

    background-image: url(fullscreen_blue.png);
    background-image: url(play_blue.png);
    background-image: url(pause.png);
    background-image: url(pause_blue.png);
}

/****************************************************************************
 * Window content
 */

#window-content {
    position: absolute;
    bottom: 0; top: 0; left: 0; right: -200px;
    margin: 0px;
    overflow: hidden;

    -webkit-transition: right 0.2s ease-in-out;
}

.show-playlist #window-content {
   right: 0px;
    -webkit-transition: right 0.2s ease-in-out;
}

/*
 * Video view
 */

#video-view {
    position: absolute;
    background: black;
    bottom: 32px;
    right: 200px;
    left: 0px;
    top: 0px;
}

/*
 * Controls
 */

.key-window .controls {
    /* Window is key window */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c4c4c4), to(#8e8e8e));
}

.controls {
    /* Window is non key window */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8e8e8), to(#cfcfcf));
}

.controls {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-left: 5px;
    padding-right: 10px;
    border-top: thin rgba(255,255,255, 0.8) solid;
    height: 31px;
}

.controls button {
    background-color: transparent;
    border: none;
    height: 20px;
    width: 33px;
}

.controls>button {
    display: -webkit-box;
    margin-left: 3px;
    margin-right: 3px;
}

.toggle-playing {
    background-image: url(play.png);
}

.toggle-playing:active {
    background-image: url(play_blue.png);
}

.playing .toggle-playing {
    background-image: url(pause.png);
}

.playing .toggle-playing:active {
    background-image: url(pause_blue.png);
}

.enter-fullscreen {
    background-image: url(fullscreen.png);
}

.enter-fullscreen:active {
    background-image: url(fullscreen_blue.png);
}

/*
 * Time display
 */

.timeinfo {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-border-image: url(timeinfo_border.png) 6 7 6 7 repeat repeat;
    height: 14px;
    margin-left: 10px;
}
.timeinfo>:nth-child(n) {
    display: -webkit-box;
    margin-left: 5px;
    margin-right: 5px;
}

.timeline {
    -webkit-appearance: none;
    -webkit-box-flex: 1;
    height: 10px;
    background-color: transparent;
    -webkit-border-image: url(timeline_border.png) 3 3 3 3 repeat repeat;
    -webkit-box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 1px;
    padding: 0;
    padding-bottom: 2px;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: url(timeline_thumb.png) no-repeat 0 0;
    -webkit-background-size: 100%;
    height: 5px;
    width: 7px;
}

.ellapsed-time {
    color: black;
    font-family: LucidaGrande;
    font-size: 10px;
}

.seekable .timeinfo>:nth-child(n) {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
}

.timeinfo>:nth-child(n) {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
}

.seekable .status {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
}

.status {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
}

.status {
    position: absolute;
    bottom: 10px;
    right: 220px;

    font-family: LucidaGrande;
    font-size: 10px;
}

/*
 * Volume display
 */

.volume {
    margin-left: 5px;
    margin-right: 5px;

    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
}
.volume>:nth-child(n) {
    display: -webkit-box;
}
.volume-slider {
    width: 70px;
    margin: 3px;
}

.volume-slider {
    -webkit-appearance: none;
    background: transparent;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333));
    -webkit-border-radius: 4px;
    border-bottom: white thin solid;
    height: 5px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: url(volumeslider_normal.png) no-repeat 0 0;
    height: 12px;
    width: 12px;
}

.volume-slider:active::-webkit-slider-thumb {
    background: url(volumeslider_blue.png) no-repeat 0 0;
}

/*
 * Other bottom bar element
 */

.search {
    width: 185px;
    margin: 0;
}

.spacer {
    margin: 0;
    width: 20px;
}



/****************************************************************************
 * Playlist
 */
.playlist {
    position: absolute;
    top: 0; bottom: 32px; left: auto; right: 0;
    width: 200px;

    overflow: hidden;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777777), to(#333333));
    border-left: thin #aaa solid;

    -webkit-box-sizing: border-box;
}

.playlist .left {
    -webkit-transform: translateX(-200px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
}

.playlist .current {
    -webkit-transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
}

.playlist .right {
    -webkit-transform: translateX(200px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
}

.playlist .left,
.playlist .current,
.playlist .right  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0; right: 0; left: 0; bottom: 0;
    overflow: auto;
}

.playlist .header {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222222), to(#303030));
    width: 100%; height: 32px;
    text-align: center;
}

.playlist .header .name {
    color: white;
    padding-top: 10px;
}

.playlist .header .back {
    float: left;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222255), to(#303044));
    border: none;
    position: absolute;
    color: white;
    -webkit-border-radius: 5px;
    height: 30px;
}


.playlist ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
}

.thumbnail {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto;
}

.item-playing .item-status {
    position: absolute;
    background: url(volume_high.png) no-repeat;
    height: 16px;
    width: 16px;
    margin: auto;
    top: 0px;
    bottom: 0px;
}

.item {
    height: 50px;
    position: relative;
    -webkit-box-sizing: border-box;

    border-bottom: thin rgba(255,255,255,0.2) solid;
    overflow: hidden;

    -webkit-user-drag: element;
    -webkit-transition: margin-top ease-in-out 0.2s;
}

.item-length {
    margin-left: 66px;
    color: gray;
}

.item.selected {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#aaaaaa));
    border-bottom: none;
}

.item:-webkit-drag {
    background: none;
}

.item .name {
    margin-left: 61px;
}



.playlist ul>.name {
    background: white;
}

.item.selected .name {
    color: rgba(0,0,0,1);
    text-shadow: 0 1px 1px rgba(255,255,255,1);
}



.reveal-subitems {
    height: 14px;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px;

    color: white;
    text-align: right;
}

.playlist ul li .hidden {
    display: none;
}
.playlist ul li .name {
    text-overflow: ellipsis;
    word-wrap: break-word;

    font-family: LucidaGrande;
    font-size: 11px;
    color: rgba(255,255,255,1);
    vertical-align: bottom;
    padding: 5px;
    padding-right: 15px;
    text-shadow: 0 1px 1px rgba(0,0,0,1);

    -webkit-text-wrap: -webkit-unrestricted;
}
