* {
    cursor: default;
    -webkit-user-select: none;
}

body {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0;
    overflow : hidden;
}

/* Make sure all (non visible) images are loaded to avoid flickering. */
.preloader {
    position: fixed;
    z-index: -1;
    background-image: url(fs_play_highlight.png);
    background-image: url(fs_pause.png);
    background-image: url(fs_pause_highlight.png);
    background-image: url(fs_exit_fullscreen_highlight.png);
}

#draggable-controls {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;

    -webkit-box-shadow: 0px 2px 40px #000;
    -webkit-border-radius: 15px;
    border: 2px solid white;

    top: -10000px; bottom: auto; left: 0; right: auto;

    height: 70px;
    width: 400px;

    padding: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in;
}

.hidden #draggable-controls {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
}

/*
 * Controls
 */

.controls button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px; bottom: auto;
    width: 34px; height: 27px;
}

.controls>button {
    display: inline-block;
}

#content .toggle-playing {
    background: url(fs_play_highlight.png) no-repeat center;
}

#content .toggle-playing:active {
    background-image: url(fs_play.png);
}

#content.playing .toggle-playing {
    background-image: url(fs_pause_highlight.png);
}

#content.playing .toggle-playing:active {
    background-image: url(fs_pause.png);
}

.toggle-playing {
    left: 0; right: 0;
    margin: auto;
}

.leave-fullscreen {
    left: auto; right: 10px;

    background: url(fs_exit_fullscreen_highlight.png) no-repeat center;
}

.leave-fullscreen:active {
    background-image: url(fs_exit_fullscreen.png);
}

.title {
    position: absolute;
    top: auto; bottom: 5px; left: 0; right: 0;
    width: 200px;
    height: 14px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/*
 * Time display
 */

.seekable .timeinfo {
    opacity: 1;
    -webkit-transition: opacity 0.2 ease-in-out;
}

.timeinfo {
    opacity: 0;
    -webkit-transition: opacity 0.2 ease-in-out;
}

.timeinfo {
    position: absolute;
    top: auto; bottom: 20px; left: 10px; right: 10px;
    margin: 0;
    padding: 0;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}

.timeinfo>:nth-child(n) {
    display: -webkit-box;
}

.ellapsed-time, .remaining-time, .title {
    color: white;
    font-family: LucidaGrande;
    font-size: 12px;
}

.timeline {
    -webkit-box-flex: 1;
    height: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;

    -webkit-appearance: none;
    background-color: transparent;
    -webkit-border-radius: 0px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 7px;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #cccccc;
    border: thin solid white;
    -webkit-border-radius: 5px;
    width: 8px;
    height: 8px;
}

.timeline::-webkit-slider-thumb:active {
    background-color: white;
}


/*
 * Playlist
 */


#more {
    -webkit-perspective: 1000;
    -webkit-perspective-origin-x: 0%;
    -webkit-perspective-origin-y: 50%;
    position: absolute;
    top: 40px; bottom: auto; right: 20px; left: auto;
    height: 400px;;
    width: 300px;
}
.textcontent {
    display: block;
    position: absolute;
    top: 40px; bottom: auto; left: auto;
    height: 400px;
    width: 300px;
    overflow: hidden;
    background-color: rgba(50, 50, 50, 0.8);
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 5px 30px black;
    -webkit-transform: rotateY(-45deg);
    -webkit-transform-origin: 200px 0 0;
    -webkit-transform-style: preserve-3d;

    border: 1px solid rgba(0,0,0,0.4);
}

.textcontent {
    right: -500px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
}

#content.show-playlist .textcontent {
    right: 20px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
}

.textcontent .left,
.textcontent .current,
.textcontent .right  {
    display: block;
    position: absolute;
    width: 100%;
    top: 0; right: 0; left: 0; bottom: 0;
}

.thumbnail {
    display: none;
}

.overlay-top {
    position: absolute;
    top: 0px; bottom: auto; right: 0px; left: 0px;
    height: 200px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), color-stop(0.8, rgba(0,0,0,0)), to(rgba(0,0,0,0)));
    -webkit-border-radius: 10px;
}
.overlay-bottom {
    position: absolute;
    top: auto; bottom: 0px; right: 0px; left: 0px;
    height: 200px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0)), color-stop(0.2, rgba(0,0,0,0)), to(black));
    -webkit-border-radius: 10px;
}

ul {
    position: absolute;
    -webkit-transition: top 0.3s ease-out;
    top: 175px; bottom: auto; right: 0px; left: auto;
    list-style-type: none;
    width: 100%;
}

ul li {
    color: #ababab;
    font-family: Lucida Grande;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 25px;
    -webkit-transition: all 0.3s ease-out;

}

ul li.selected {
    height: 40px;
    -webkit-transition: all 0.2s ease-out;
}

.item-playing .name:before {
    content: url(volume_high.png);
}

ul li .name {
    display: inline-block;
}

.item-length {
    display: none;
}

ul li.selected .name {
    color: white;
    -webkit-text-stroke: 0px;
    text-shadow: 0px 0px 3px black;
    font-size: 35px;
    -webkit-transition: all 0.2s ease-out;
}

ul li .reveal-subitems {
    display: inline-block;
}

ul li .reveal-subitems.hidden {
    display: none;
}

.header {
    position: absolute;
}
.header .back {
    display: none;
}

.header .name {
    color: white;
    font-size: 35px;
}



/* If there is only one element don't show the playlist */
.textcontent {
    display: none;
}

.multiple-play-items .textcontent {
    display: block;
}

.textcontent .left {
    -webkit-transform: translateX(-300px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
}

.textcontent .current {
    -webkit-transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
}

.textcontent .right {
    -webkit-transform: translateX(300px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
}

.textcontent .left,
.textcontent .current,
.textcontent .right {
    display: block;
}


/* Animate between the hidden and the visible state */
.hidden .playlist-selection {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
}
.playlist-selection {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
}

.playlist-selection {
    position: absolute;
    margin: 20px;
    top: 0; bottom: auto; right: 0; left: auto;

    border: 2px solid rgba(255, 255, 255, 0.7);
    -webkit-box-shadow:  0px 0px 5px rgba(100, 100, 250, 1);
    height: 116px;
    width: 1000px;
    padding: 20px;
    -webkit-transition: top 0.3s ease-out;

    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.3)), color-stop(0.5, rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
}
